$primary: #c62828;
$primary-dark: #8e0000;
$primary-light: #ff5f52;

$secondary: #00b0ff;
$secondary-dark: #0081cb;
$secondary-light: #69e2ff;

$dark-text: rgba(0,0,0, 0.87);
$dark-text-medium: rgba(0,0,0, 0.60);
$dark-text-disabled: rgba(0,0,0, 0.30);

$light-text: rgb(255,255,255);
$light-text-medium: rgba(255,255,255, 0.60);
$light-text-disabled: rgba(255,255,255, 0.30);