@import "../../../styles/colors.scss";
@import "../../../styles/shadows.scss";
@import "../../../styles/breaks.scss";

.accomplishments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .accomplishment {
    background-color: $primary-light;
    box-shadow: $shadow-level-2;
    border-radius: 3rem;
    margin-top: 1rem;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    transition: all ease-in-out 500ms;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    cursor: pointer;

    .title {
      font-size: 1rem;
    }

    .close {
      position: absolute;
      right: 2rem;
      top: 1rem;
      cursor: pointer;
    }

    &.expanded {
      min-width: calc(100% - 1rem);
      min-height: 100px;
      overflow: auto;
      text-align: left;
      align-items: normal;
      padding-left: 1rem;    
      cursor: initial;


      .title {
        font-size: 2rem;
      }
    }

    .description {
      transition: all ease-in-out 500ms;
      opacity: 0;
      height: 0;
      width: 0;

      &.expanded {
        opacity: 1;
        height: auto;
        width: auto;
        font-size: 1rem;
      }
    }
  }

  

  @media screen and (min-width: $sm) {
    // Desktop
    flex-direction: row;

    .accomplishment {
      max-width: 33%;
    }
  }
}
